/vulhub/vulhubShootMachine/DC-1/DC-1
/vulhub/vulhubShootMachine/DC-1/DC-1.zip
/vulhub/vulhubShootMachine/DC-1/DC-1-Ins

/vulhub/vulhubShootMachine/DC-2/DC-2
/vulhub/vulhubShootMachine/DC-2/DC-2.zip
/vulhub/vulhubShootMachine/DC-2/DC-2-Ins

/vulhub/vulhubShootMachine/DC-3/DC-3
/vulhub/vulhubShootMachine/DC-3/DC-3.zip
/vulhub/vulhubShootMachine/DC-3/DC-3-Ins
